@charset 'UTF-8';

html,body {
    height: 100%;
}

header {
    display: block;
	background: #000000;
	padding: 0.5em;
	color: #FFFFFF;
}

section {
    float: left;
	width: 100%;
	background: #F5F5F5;
	border: 0.1em solid #DCDCDC;
    overflow: auto;
	margin: 1em auto;
    padding-top: 1em;
    padding-bottom: 2em;
}

article { 
    display: block;
	padding: 0.5em;
	border-bottom: 0.1em solid #DCDCDC;
}

aside {
    float: right;
	margin: 1em auto;
	padding: 0.5em;
	background: #F5F5F5;
	border: 0.1em solid #DCDCDC;
	display: none;
}

footer {
    position: relative;
    margin-top: -5em;
	padding: 0.5em 0;
    clear: both;
	background: #1E90FF;
    text-align: center;
	color: #FFFFFF;
}

figure {
    display: table;
	margin: 0 auto;
}

div {
	display: none;
}

table {
	width: 100%;
}

table.default {
	width: 100%;
}

table.default tr {
	border-top: solid 0.1em #DDDDDD;
}

table.default tr:first-child {
	border-top: 0;
}
			
table.default td {
	padding: 0.5em 1em 0.5em 1em;
}
				
table.default th {
	text-align: left;
	padding: 0.5em 1em 0.5em 1em;
	margin: 0 0 1em 0;
}
			
table.default thead {
	border-bottom: solid 0.2em #DDDDDD;
}

.hidden {
	display: inline;
}

@media only screen and (min-width: 1024px) {
	
	section {
		width: 75%;
	}
	
	article {
		border-bottom: none;
	}
	
	aside {
		width: 20%;
		display: inline;
	}
	
	div {
		display: inline;
	}
	
	.hidden {
		display: none;
	}
	
}

